
body{
    margin:12px;
    background-color: #E1E8EB;
   
   
}

header{
    width:35%;
    height: 30%;
    text-align: center;
    padding: 12px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 4px 2px -2px #A7BBC7;
}

.intro{
    padding: 5px;
    text-align: justify;
}
.img-container{
    width: 125px;
    height: 125px;
    display: block;
    margin:0 auto;
    padding: 15px;
}

.see-yourself{
    border: 1px solid #FF6B6B;
    padding: 9px;
    font-family: 'Open Sans', sans-serif;;
    text-decoration: none;
    background-color: #FF6B6B;
    border-radius: 3px;
    
    
}
.tim-berners-lee{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #C9CCD5;
}
section{
     width: 35%;
    height: 25%;
    margin:0 auto;
    margin-top: 27px;
    padding: 13px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 4px 2px -2px #A7BBC7;
    
   
}





ul{
    list-style: none;
    justify-content: space-evenly;
     display: flex;
     text-align: center;
     margin: 0 auto;
      font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #C9CCD5;
    
    
}
li{
    margin-right: 15px;
}
h1,h2,h4{
    font-family:'Open Sans', sans-serif;
    text-align: center;
}
h2,h4{
    color: #536162;
}
h1{
    color: #FF6B6B;
}
p{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 0;
    color: #A7BBC7;
}
a{
    display: block;
    margin: 0 auto;
    text-decoration: none;
   
}

.first-link{
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}
img{
    width: 90px;
    height: 120px;
    margin-left: 20px;
    display: flex;
}

article{
    display: flex;
    justify-content: center;
   
}
